/* Entire Site Start */

body {
  height: 100vh;
  font-family: "Helvetica";
  width: 100%;
  margin: 0;
    top: 0;
  left: 0;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica"
}

h2 {
  font-size: 32px;
}

p {
  font-size: 18px;
}

a {
  color: #256EFF;
}

a:hover {
  color: #000080;
    transition: 0.3s;
}

label {
  position: relative;
}

input[type="text"] {
  width: 350px;
  height: 50px;
  padding: 0px 15px;
  border-radius: 5px;
  border: solid 2px;
  margin: 5px;
}

button {
  height: 50px;
  width: 150px;
  padding: 10px;
  background-color: #256EFF;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  color: white;
  transition: 0.3s;
  margin: 5px;
}

button:hover {

  background-color: #000080;
  cursor: pointer;
}


/* Homepage Sections Start */

.hp_section {
  text-align: center;
}

/* Headers Containers */

#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  padding: 20px;
}

#header_left {
  text-align: left;
  margin-left: 10%;
  flex: 1;
}

#header_right {
  text-align: right;
  margin-right: 10%;
  flex: 1;
}

.headline_sections {
  text-align: center;
  padding: 0 15px 0 15px;
}

/* Intro Containers */

#intro {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
  height: 80vh;
  .your-class{
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%230099ff' fill-opacity='1' d='M0 288L48 272C96 256 192 224 288 197.3C384 171 480 149 576 165.3C672 181 768 235 864 250.7C960 267 1056 245 1152 250.7C1248 256 1344 288 1392 304L1440 320L1440 320L1392 320C1344 320 1248 320 1152 320C1056 320 960 320 864 320C768 320 672 320 576 320C480 320 384 320 288 320C192 320 96 320 48 320L0 320Z'%3E%3C/path%3E%3C/svg%3E");
}
  }

#hero {
  max-width: 800px;
}

#hero_title {
  font-size: 64px;

}

#hero_paragraph {
  padding: 0 10px 20px 10px;
}


.animation {
  height: 70px;
  overflow: hidden;
  margin-left: 1rem;
}

.animation>div>div {
  padding: 0.25rem 0.75rem;
  height: 2.81rem;
  margin-bottom: 2.81rem;
  display: inline-block;
}

.animation div:first-child {
  animation: text-animation 12s infinite;
}

.first div {
  color: #20BF55;
}

.second div {
  color: #CC0606;
}

.third div {
  color:  #256EFF;
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }

  10% {
    margin-top: 0;
  }

  20% {
    margin-top: -5.62rem;
  }

  30% {
    margin-top: -5.62rem;
  }

  40% {
    margin-top: -11.24rem;
  }

  60% {
    margin-top: -11.24rem;
  }

  70% {
    margin-top: -5.62rem;
  }

  80% {
    margin-top: -5.62rem;
  }

  90% {
    margin-top: 0;
  }

  100% {
    margin-top: 0;
  }
}



/* About Containers */

#about {
  background: black;
  color: white;
  margin-bottom: 0;
}

#about_container {
  min-height: 800px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.about_grid {

  width: 50%;
  box-sizing: border-box;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

#about_left {
  background-image: url("https://previews.123rf.com/images/filistimlyanin/filistimlyanin1906/filistimlyanin190600591/125185257-headshot-of-satisfied-cheerful-handsome-man-isolated-over-gray-background-people-positive-emotions-a.jpg");
  min-height: 700px;
}

#about_right {
  padding: 40px;
}

#about_right_paragraph {
  max-width: 1000px;
}

/* FAQ Containers */

#FAQ_headline_section {
  background-color: #FFE74C;
  margin-top:0;
  padding: 40px;
}

#FAQ {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  padding: 0px 10px 70px 10px;
  background-color: #FFE74C;

}

.FAQ_list {
  width: 70%;
  box-sizing: border-box;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border: solid;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  background-color: white;
}

.FAQ_answer {
  padding: 30px;
}

/* footer */

footer {
  color: white;
  text-align: center;
  background-color: #000000;
  padding: 20px;
  bottom: 0;
  left: 0;
}

/* Social Containers */

#social_container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.social_grid {
  height: 65px;
  width: 65px;
  margin: 2.5px;
  box-sizing: border-box;
  overflow: hidden;
  background-size: contain;
  background-position: center;
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -o-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);
}

.social_grid:hover {
  -webkit-filter: brightness(70%);
  -moz-filter: brightness(70%);
  -o-filter: brightness(70%);
  -ms-filter: brightness(70%);
  filter: brightness(70%);
}


#channel_1 {

  background-image: url("https://img.icons8.com/fluency/512/facebook.png");
}

#channel_2 {

  background-image: url("https://img.icons8.com/fluency/512/linkedin.png");
}

#channel_3 {

  background-image: url("https://img.icons8.com/fluency/512/twitter-squared.png");
}

#channel_4 {

  background-image: url("https://img.icons8.com/fluency/512/youtube-play.png");
}


/* Copyright */

#demo {
  display: inline-block;
}

.demo {
  display: inline-block;
}

#copyright {
  align-content: center;
}

/*pop-up */

.overlay {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F0F0F0;
  overflow-x: hidden;
}

.overlay-content {
  position: relative;
  margin: auto;
  width: 80%;
  height: 80vh;
  padding-top: 80px;
  text-align: center;
  background-color: #F0F0F0;
  max-width: 1000px;
}

.overlay a {
  padding: 5px;
  margin: 10px;
  text-decoration: none;
  color: black;
  display: block;
  transition: 0.3s;
}

.overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 48px;
}

#pop-image {
  max-height 400px;
  max-width: 80%;
}

/*Responsive*/


@media screen and (max-width: 1024px) {

  #logo {
    height: 50px;
  }

  #header_left {
    width: 42%;
    margin-left: 0;
        text-align: left;
    padding: 0 0 0 20px;
  }

  #header_right {
    width: 42%;
    margin-right: 0;
        text-align: right;
  }

  .about_grid {
    width: 100%;
  }

  #about_container {
    min-height: 400px;
  }

  #about_left {
    min-height: 400px;
    max-height: 400px;
  }

.FAQ_list {
  width: 99%;
}

  #hero {
    padding: 0 10px 0 10px;
  }

  input[type="text"] {
    width: 200px;
  }

  button {
    width: 150px;

  }

}

@media screen and (max-width: 480px) {

#hero_paragraph_bullets {
 display: none; 
}

.overlay-content {
  padding-top: 25%;
}

}
